<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gdscandroid.loginproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="FeedTheNeed"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.gdscandroid.loginproject.SplashActivity"
            android:exported="false" />
        <activity
            android:name="com.gdscandroid.loginproject.Volunteer.VolDetailsActivity"
            android:exported="true" />
        <activity
            android:name="com.gdscandroid.loginproject.Volunteer.VolQuestApplyActivity"
            android:exported="true" />
        <activity
            android:name="com.gdscandroid.loginproject.Volunteer.VolVerificationActivity"
            android:exported="true" />
        <activity
            android:name="com.gdscandroid.loginproject.Volunteer.VolunteerHomeActivity"
            android:exported="true" />
        <activity
            android:name="com.gdscandroid.loginproject.Restaurant.RestaurantActivity"
            android:exported="true" />
        <activity
            android:name="com.gdscandroid.loginproject.Donator.DonatorHome"
            android:exported="true" />
        <activity
            android:name="com.gdscandroid.loginproject.Volunteer.VolunteerApply"
            android:exported="true" />
        <activity
            android:name="com.gdscandroid.loginproject.Donator.DonatorApply"
            android:exported="true" />
        <activity
            android:name="com.gdscandroid.loginproject.HomeActivity"
            android:exported="true" />
        <activity
            android:name="com.gdscandroid.loginproject.ProfileActivity"
            android:exported="true" />
        <activity
            android:name="com.gdscandroid.loginproject.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>