<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gdscandroid.loginproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginProject">
        <activity
            android:name=".Volunteer.VolDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Volunteer.VolQuestApplyActivity"
            android:exported="false" />
        <activity
            android:name=".Volunteer.VolVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".Volunteer.VolunteerHomeActivity"
            android:exported="true" />
        <activity
            android:name=".Restaurant.RestaurantActivity"
            android:exported="true" />
        <activity
            android:name=".Donator.DonatorHome"
            android:exported="true" />
        <activity
            android:name=".Volunteer.VolunteerApply"
            android:exported="true" />
        <activity
            android:name=".Donator.DonatorApply"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>